h1 {
  text-align: center;
  font-size: 100px;
  padding-top: 2%;
}

.searchDiv {
  margin-left: 5%;
  margin-right: 1%;
}

.searchText {
  font-size: 70px;
}

.error{
  max-width: 1000px;
}

.suggestion {
  font-size: 70px;
  max-width: 93.8%;
}

.suggestion:hover {
  background-color: #949594;
}

.myButton {
  height: 120px;
  width: 150px;
}

.mybutton:hover{
  border: 2px solid white;
}

button img {
  height: 100px;
  width: 100px;
}
