h1 {
  text-align: center;
  font-size: 8vh;
  padding-top: 2%;
}

.searchDiv {
  margin-left: 5%;
  margin-right: 1%;
}

.searchText {
  font-size: 5vh;
}

.suggestions {
  font-size: 5vh;
  max-width: 93.8%;
  cursor: pointer;
  border: 1px solid black;
}

.suggestions:hover {
  background-color: #949594;
}

.myButton {
  height: 120px;
  width: 150px;
}

.mybutton:hover {
  border: 2px solid white;
}

button img {
  height: 9vh;
}
