{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block style %}<link rel = "stylesheet" href="{{ url_for('static', filename='CSS/resultStyles.css') }}">{% endblock %}

{% block content %}

        <h1>About</h1>
        <br>
        <h4>Enter a Pokemon to find out its type and type matchups!</h4>
        <br>
        <p>Developed by Owen Treanor</p>
        <a href = "https://github.com/otreanor1203">Github</a>
        <br>
        <a href = "https://www.linkedin.com/in/owen-treanor/">LinkedIn</a>
    </body>
</html>

{% endblock %}