{% extends 'base.html' %}

{% block title %}Pokemon App{% endblock %}

{% block style %}<link rel = "stylesheet" href="{{ url_for('static', filename='indexStyles.css') }}">{% endblock %}

{% block content %}

        <h1>Enter a Pokemon</h1>
        <form method="POST">
            <label for="pokemonName">Pokemon Name:</label>
            <input type="text" id="pokemonName" name="pokemonName" required>
            <button type="submit">Submit</button>
        </form>
        {% if error %}
            <p id = "error">{{ error }}</p>
        {% endif %}
    </body>
</html>

{% endblock %}