{% extends 'base.html' %}

{% block title %}Pokemon App{% endblock %}

{% block style %}<link rel = "stylesheet" href="{{ url_for('static', filename='styleSheets/indexStyles.css') }}">{% endblock %}

{% block content %}

    <div class = "searchDiv">
        <h1>Enter a Pokemon</h1>
        <form class="d-flex" role="search" method = "POST">
            <input class="form-control me-2 searchText" type="search" name = "homeSearch" id = "homeSearch" placeholder="Search" aria-label="Search">
            <button class="btn btn-bgdark myButton" id = "submitButton" type="submit"><img src = "{{ url_for('static', filename='otherImages/magnifyingGlass.png') }}"></button>
        </form>
        <div id="suggestions"></div>
    </div>

<script>
document.getElementById('homeSearch').addEventListener('input', async function() {
    const query = this.value;
    if (query.length > 0) {
        const response = await fetch(`/autocomplete?query=${query}`);
        const suggestions = await response.json();
        displaySuggestions(suggestions);
    } else {
        document.getElementById('suggestions').innerHTML = '';
    }
});

function displaySuggestions(suggestions) {
    const suggestionsDiv = document.getElementById('suggestions');
    suggestionsDiv.innerHTML = '';
    suggestions.forEach(name => {
        const div = document.createElement('div');
        div.innerText = name;
        div.classList.add("suggestion")
        div.addEventListener('click', () => {
            document.getElementById('homeSearch').value = name;
            suggestionsDiv.innerHTML = '';
            document.getElementById('submitButton').click();
        });
        suggestionsDiv.appendChild(div);
    });
}
</script>

    </body>
</html>

{% endblock %}